
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">          

        <!-- <a class="navbar-collapse">Angular Router</a> -->
        <ul class="breadcrumb" routerLinkActive="active">
            <span class="iconic" data-glyph="check" title="check" aria-hidden="true" routerLink="/image/producto">Registro de nuevo producto</span>
            <!-- <li class="nav-collapse"><a class="nav-link" routerLink="/image/despacho">About</a></li> -->
            <span class="iconic" data-glyph="cloud-transfer-upload" title="cloud transfer upload" aria-hidden="true" routerLink="/image/registro">Crear imagen de producto</span>
        </ul>
    </div>
  
    <div class="div_centrado">
  
  
  <router-outlet></router-outlet>
  </div>
  </nav>